---
- name: Install & manage packages on AWS EC2
  hosts: linux
  become: yes
  gather_facts: yes

  vars:
    common_packages:
      - git
      - curl
      - wget
      - htop
    remove_packages:
      - telnet

  roles:
    - packages

