<html>
  <head><title>Nginx Health</title></head>
  <body>
    <h1>✅ Nginx is running on {{ inventory_hostname }}</h1>
    <p>Deployed by Ansible Project 3</p>
    <p>Time: {{ ansible_date_time.iso8601 }}</p>
  </body>
</html>

