---
- name: Update package cache (Debian/Ubuntu)
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Update package cache (RHEL/Amazon Linux)
  yum:
    update_cache: yes
  when: ansible_os_family == "RedHat"

- name: Install common packages
  package:
    name: "{{ common_packages }}"
    state: present

- name: Remove unwanted packages
  package:
    name: "{{ remove_packages }}"
    state: absent

