---
- name: Update apt cache (Ubuntu/Debian)
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: present

- name: Remove unwanted packages
  apt:
    name: "{{ remove_packages }}"
    state: absent

